.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0, 0, 0, .7);
}
.offcanvas{
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    padding: 1rem;
    z-index: 105;
}
.content{
    width: 400px;
    height: 100vh;
}